node-red-data/flows.json
[
    {
        "id": "30eabd99172917aa",
        "type": "tab",
        "label": "Simulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fcac8d51.7bff8",
        "type": "modbus-client",
        "name": "NodeModbus",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "tcpHost": "virtuallab",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": false
    },
    {
        "id": "7b4460f816a46442",
        "type": "tanque",
        "z": "30eabd99172917aa",
        "name": "Tanque",
        "valveK": "0.5",
        "valveOpen": "0",
        "area": "1",
        "startInputFlow": "0",
        "startOutputFlow": "0",
        "startLevel": "4",
        "modbusHost": "virtuallab",
        "modbusPort": "502",
        "modbusRegister": "12",
        "integrationInterval": "1",
        "intervalUpdate": "1000",
        "x": 500,
        "y": 240,
        "wires": [
            [
                "d72a4fe3cce0ecc4",
                "ecead97328f86368"
            ],
            [
                "e96cb405f5725aab"
            ]
        ]
    },
    {
        "id": "d72a4fe3cce0ecc4",
        "type": "function",
        "z": "30eabd99172917aa",
        "name": "Float to Buffer",
        "func": "var payload=msg.payload;\nvar buf = Buffer.alloc(4);\nbuf.writeFloatBE(payload);\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 60,
        "wires": [
            [
                "bcc0f9c8aa2fbc0c"
            ]
        ]
    },
    {
        "id": "bcc0f9c8aa2fbc0c",
        "type": "modbus-write",
        "z": "30eabd99172917aa",
        "name": "Level",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "0",
        "quantity": "4",
        "server": "fcac8d51.7bff8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 630,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d1eabf4b7cc34ec3",
        "type": "function",
        "z": "30eabd99172917aa",
        "name": "Float to Buffer",
        "func": "var payload=msg.payload;\nvar buf = Buffer.alloc(4);\nbuf.writeFloatBE(payload);\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "9aa1ff4bb98fdd7c"
            ]
        ]
    },
    {
        "id": "9aa1ff4bb98fdd7c",
        "type": "modbus-write",
        "z": "30eabd99172917aa",
        "name": "Qe In",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "4",
        "quantity": "4",
        "server": "fcac8d51.7bff8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 630,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e96cb405f5725aab",
        "type": "function",
        "z": "30eabd99172917aa",
        "name": "Float to Buffer",
        "func": "var payload=msg.payload;\nvar buf = Buffer.alloc(4);\nbuf.writeFloatBE(payload);\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "0e1bfd37d59c32fa"
            ]
        ]
    },
    {
        "id": "0e1bfd37d59c32fa",
        "type": "modbus-write",
        "z": "30eabd99172917aa",
        "name": "Qe Out",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "8",
        "quantity": "4",
        "server": "fcac8d51.7bff8",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 640,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "af9784e785cce196",
        "type": "PID control",
        "z": "30eabd99172917aa",
        "name": "",
        "target": "9.333",
        "kp": "0.735",
        "ki": "0.255",
        "kd": "0.628",
        "intervalTime": "1",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "a20a59ad0bba46c9"
            ]
        ]
    },
    {
        "id": "a20a59ad0bba46c9",
        "type": "atuador",
        "z": "30eabd99172917aa",
        "name": "Válvula",
        "inputMin": "4",
        "inputMax": "20",
        "outputMin": 0,
        "outputMax": "8",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "d1eabf4b7cc34ec3",
                "7b4460f816a46442"
            ]
        ]
    },
    {
        "id": "ecead97328f86368",
        "type": "sensor",
        "z": "30eabd99172917aa",
        "name": "",
        "inputMin": 0,
        "inputMax": "12",
        "outputMin": "4",
        "outputMax": "20",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "af9784e785cce196"
            ]
        ]
    },
    {
        "id": "d36a0ab13f7b9572",
        "type": "modbus-server",
        "z": "30eabd99172917aa",
        "name": "Modbus Server",
        "logEnabled": false,
        "hostname": "virtuallab",
        "serverPort": "502",
        "responseDelay": 100,
        "delayUnit": "ms",
        "coilsBufferSize": 10000,
        "holdingBufferSize": 10000,
        "inputBufferSize": 10000,
        "discreteBufferSize": 10000,
        "showErrors": false,
        "x": 140,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "5415b20522706239",
        "type": "comment",
        "z": "30eabd99172917aa",
        "name": "Simulação de controle de nível de tanque linearizado em 4m.",
        "info": "Simulação de controle de nível de tanque linearizado em 4m.",
        "x": 400,
        "y": 20,
        "wires": []
    }
]